@import "$styles/block.less";

.container {
  .full-content();

  position: relative;
  max-width: 677px;
  margin: 0 auto;
  background: url("$assets/bg.jpg") no-repeat center center;
  background-size: cover;
}
