@import "$styles/variables.less";
@import "$styles/block.less";

@bg-mask: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMYAAAAdAgMAAACMDPsiAAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAABHRSTlMBZkgqpG66tgAAAIFJREFUOMtjYGDgmxpKNMhmAAMSdISGJoB0cJKiIzQcpEWVJC2hDUAtpOkAuYyJRC0xpHoF7BlWErWEkez70NADDKKkamlguEqqFgfS4h4ECsjRQqoOYFzSRwt9vE9GvJAR+2SkMVJTcihZ+YWMXElG3ienhCGjHCMt/gvAWkgtkwGuR9YEmCq1JgAAAABJRU5ErkJggg==";

.container {
  .full-content();

  position: relative;
  max-width: 677px;
  margin: 0 auto;
  overflow: auto;
  background: url("$assets/bg.jpg") no-repeat center center;
  background-size: cover;

  .header {
    position: relative;

    &__user {
      position: absolute;
      top: 14.4px;
      left: 25.6px;
      width: 158.4px;
      height: 23.2px;
      font-size: 14.4px;
      line-height: 22.88px;
      color: @primary-color;
      text-align: center;
      background: url("@{bg-mask}") no-repeat;
      background-size: 158.4px 23.2px;
    }

    &__staff {
      //todo
    }
  }

  .main {
    //
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 36px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;

    &__rule {
      color: #fff;
      text-decoration: underline;
    }

    &__copyright {
      height: 18px;
      color: @primary-color;
    }
  }
}
